@use "../../../../styles/mixins" as *;

.bmi-input-container {
  display: flex;
  gap: 13px;
  position: relative;

  & input {
    padding: 23px;
    border-radius: 12px;
    border: 1px solid var(--borders);
    @include heading-m;
    color: var(--gun-metal);
    width: 100%;

    &:is(:focus, :active, :hover) {
      border-color: var(--blue);
      outline: none;
    }

    &::placeholder {
      color: #25334740;
    }
  }

  & span {
    @include heading-m;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--blue);
  }
}
