@use "../../../styles/mixins" as *;

.recommendations-list {
  display: flex;
  gap: 80px;
  position: relative;
  padding-block: 50px;

  @include for-tablet-down {
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-image: linear-gradient(120deg, transparent, #d6e6fe4f);
    z-index: -1;
    width: calc(100vw - 40px);
    height: 100%;
    top: 0;
    border-radius: 16px;

    @include for-tablet-down {
      border-radius: unset;
      width: 100vw;
    }
  }
}
