@use "../../../styles/mixins" as *;

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include for-tablet-only {
    flex-direction: row;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & h3 {
    @include heading-m;
    color: var(--gun-metal);
  }

  & p {
    @include body-m;
    color: var(--dark-electric-blue);
  }

  & svg {
    margin-bottom: 20px;
  }
}
