@use "../../styles/mixins" as *;

.bmi-result-meaning {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  @include for-tablet-down {
    gap: 76px;
  }

  @include for-phone-only {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & img {
    object-fit: cover;

    @include for-tablet-only {
      width: 360px;
      margin-left: -100px;
    }

    @include for-phone-only {
      width: 360px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 485px;
    padding-bottom: 30px;

    @include for-phone-only {
      width: unset;
    }
  }

  & h2 {
    @include heading-l;
    color: var(--gun-metal);

    @include for-tablet-down {
      font-size: 32px;
    }
  }

  & p {
    @include body-m;
    color: var(--dark-electric-blue);
  }

  & svg {
    position: absolute;
    right: 15px;
    top: -50px;

    @include for-tablet-down {
      display: none;
    }
  }
}
