@use "../../../../styles/mixins" as *;

.bmi-form {
  padding: 30px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 16px 32px 56px #8faecf40;
  display: flex;
  flex-direction: column;
  gap: 24.6px;
  max-width: 564px;

  &__title {
    @include heading-m;
    color: var(--gun-metal);
  }

  @include for-tablet-down {
    max-width: unset;
  }

  @include for-phone-only {
    padding: 24px;
  }
}
